phasing.window=5000000
minimac.window=500000
chunksize=20000000
minimac.tmp=/mnt/storage/minimac.tmp
minimac.sendmail=yes
server.url=https://imputationserver.helmholtz-munich.de
export.threads=12
eagle.threads=2
minimac4.threads=2
minimac4.temp.prefix=/mnt/storage/minimac.tmp
minimac4.temp.buffer=1000
big.job.size=25000
samples.max=50000
